
.mt-30 {
    margin-top: 30px;
}

.glyphicon {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome !important;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.glyphicon-ok:before {
    content: "\f00c";
}

.glyphicon-remove:before {
    content: "\f00d";
}

select {
    display: inline-block;
    width: 100%;
    height: calc(1.8125rem + 2px);
    /* padding: 0.375rem 0.25rem; */
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.card {
    margin: 0px 0px 25px 0px;
}

.tasks-actions a {
    cursor: pointer;
    font-size: 12px !important;
}